{%extends "base/dashboard-base.html"%}
{% load static %}
{%block content%}

<head>
    <title>{%block title%}Tansfer Amount{%endblock title%}</title>
</head>
<!-- Dashboard Section start -->
<section class="dashboard-section body-collapse pay step step-2">
    <div class="overlay pt-120">
        <div class="container-fruid">
            <div class="main-content">
                <div class="head-area d-flex align-items-center justify-content-between">
                    <h4>
                        Make a Payment
                    </h4>
                    <div class="icon-area">
                        <img alt="icon" src="{% static 'assets/images/icon/support-icon.png' %}" />
                    </div>
                </div>
                <div class="choose-recipient">
                    <div class="step-area">
                        <span class="mdr">
                            Step 2 of 3
                        </span>
                        <h5>
                            Set Amount of transfer
                        </h5>
                    </div>
                    <div class="user-select">
                        <div class="single-user">
                            <div class="left d-flex align-items-center">
                                <div class="img-area">
                                    <img style="width: 100px; height: 100px; border-radius: 50% ; object-fit: cover;"
                                        alt="image" src="{{account.user.kyc.image.url}}" />
                                </div>
                                <div class="text-area">
                                    <p>
                                        {{account.user.kyc.full_name}}
                                    </p>
                                    <p>
                                        {{account.account_number}}
                                    </p>
                                    <span class="mdr">
                                        <a class="__cf_email__" data-cfemail="54033d38383526306d6d143339353d387a373b39"
                                            href="/cdn-cgi/l/email-protection">
                                            {{account.user.email}}
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="right">
                                <a href="{%url 'main:search-account'%}">
                                    <i class="icon-h-edit">
                                    </i>
                                    Back To Step 1
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="{%url 'main:transfer-amount-process' account.account_number%}" method="post">
                    {%csrf_token%}
                    <div class="send-banance">
                        <span class="mdr">
                            You Send
                        </span>
                        <div class="input-area">
                            <input class="xxlr" onkeyup="CalculateBalance()"
                                placeholder="{{request.user.account.account_balance}}" type="number" name="send_amount"
                                id="send_amount" />
                            <select>
                                <option value="1">
                                    USD
                                </option>
                                <option value="2">
                                    USD
                                </option>
                                <option value="3">
                                    USD
                                </option>
                            </select>
                        </div>
                        <p>
                            {{request.user.account.account_balance}}
                        </p>
                        <p id="new_balance"></p>


                    </div>
                    <div class="send-banance mt-0 pt-0">
                        <span class="mdr">
                            Description
                        </span>
                        <div class="input-area">
                            <input class="xxlr" onkeyup="CalculateBalance()" placeholder="" type="text"
                                name="description" />
                        </div>

                    </div>
                    <!-- js code for handling the errors of the money transfer   -->
                    <script>
                        function CalculateBalance() {
                            let available_balance = "{{request.user.account.account_balance}}"
                            // console.log(available_balance)
                            let new_balance = document.getElementById("new_balance")
                            let send_amount_input = document.getElementById("send_amount")
                            let send_amount = send_amount_input.value
                            let error_div = document.getElementById("error_div")
                            let total_to_pay = document.getElementById("total_to_pay")
                            let error = []
                            balance_after = available_balance - send_amount
                            new_balance.innerHTML = `New Balance <b> $${balance_after.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")} </b>`;
                            total_to_pay.innerHTML = `USD <b> $${send_amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")} </b>`;

                            if (balance_after < 0) {
                                new_balance.style.color = "red"
                                alert("You can only send $" + available_balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
                            } else {
                                new_balance.style.color = "#27276e"

                            }



                        }

                    </script>
                    <ul class="total-fees">
                        <li>
                            Total Fees
                        </li>
                        <li>
                            Free
                        </li>
                    </ul>
                    <ul class="total-fees pay">
                        <li>
                            <h5>
                                Total To Pay
                            </h5>
                        </li>
                        <li>
                            <h5 id="total_to_pay">
                                USD $0.00
                            </h5>
                        </li>
                    </ul>
                    <div class="footer-area mt-40">
                        <a href="pay-step-1.html">
                            Previous Step
                        </a>
                        <button class="btn btn-primary btn-lg" type=" submit"
                            style="border-radius: 15px; padding: 15px 70px;">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Dashboard Section end -->
<!--==================================================================-->
{%endblock content%}