{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <title>
        Paylio - Money Transfer and Online Payments Dashboard HTML Template
    </title>
    <link href="{% static 'assets1/images/fav.png' %}" rel="shortcut icon" type="image/x-icon" />
    <link href="{% static 'assets1/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets1/css/fontawesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets1/css/jquery-ui.css' %}" rel="stylesheet" />
    <link href="{% static 'assets1/css/plugin/apexcharts.css' %}" rel="stylesheet" />
    <link href="{% static 'assets1/css/plugin/nice-select.css' %}" rel="stylesheet" />
    <link href="{% static 'assets1/css/arafat-font.css' %}" rel="stylesheet" />
    <link href="{% static 'assets1/css/plugin/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets1/css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets1/css/custom.css' %}" />


</head>

<body>
    <!-- start preloader -->
    <div class="preloader" id="preloader">
    </div>
    <!-- end preloader -->
    <!-- Scroll To Top Start-->
    <a class="scrollToTop" href="javascript:void(0)">
        <i class="fas fa-angle-double-up">
        </i>
    </a>
    <!-- Scroll To Top End -->
    <!-- header-section start -->
    <!-- header-section start -->
    <header class="header-section body-collapse">
        <div class="overlay">
            <div class="container-fruid">
                <div class="row d-flex header-area">
                    <div class="navbar-area d-flex align-items-center justify-content-between">
                        <div class="sidebar-icon">
                            <img alt="icon" src="{% static 'assets1/images/icon/menu.png' %}" />
                        </div>
                        <form action="#" class="flex-fill">
                            <div class="form-group d-flex align-items-center">
                                <img alt="icon" src="{% static 'assets1/images/icon/search.png' %}" />
                                <input placeholder="Type to search..." type="text" />
                            </div>
                        </form>
                        <div class="dashboard-nav">
                            <div class="single-item language-area">
                                <div class="language-btn">
                                    <img alt="icon" src="{% static 'assets1/images/icon/lang.png' %}" />
                                </div>
                                <ul class="main-area language-content">
                                    <li>
                                        English
                                    </li>
                                    <li>
                                        Hindi
                                    </li>
                                    <li class="active">
                                        English (US)
                                    </li>
                                    <li>
                                        Japanese
                                    </li>
                                    <li>
                                        Kannada
                                    </li>
                                    <li>
                                        Lithuanian
                                    </li>
                                </ul>
                            </div>
                            <div class="single-item notifications-area">
                                <div class="notifications-btn">
                                    <img alt="icon" class="bell-icon"
                                        src="{% static 'assets1/images/icon/bell.png' %}" />
                                </div>
                                <div class="main-area notifications-content">
                                    <div class="head-area d-flex justify-content-between">
                                        <h5>
                                            Notifications
                                        </h5>
                                        <span class="mdr">
                                            4
                                        </span>
                                    </div>
                                    <ul>
                                        <li>
                                            <a class="d-flex" href="javascript:void(0)">
                                                <div class="img-area">
                                                    <img alt="image" class="max-un"
                                                        src="{% static 'assets1/images/user-1.png' %}" />
                                                </div>
                                                <div class="text-area">
                                                    <p class="mdr">
                                                        You received a payment of
                                                        <b>
                                                            $134.00
                                                        </b>
                                                        from
                                                        <b>
                                                            Anna
                                                            Green
                                                        </b>
                                                    </p>
                                                    <p class="mdr time-area">
                                                        09.39AM
                                                    </p>
                                                </div>
                                            </a>
                                            <i class="fa-solid fa-caret-right">
                                            </i>
                                        </li>
                                        <li>
                                            <a class="d-flex" href="javascript:void(0)">
                                                <div class="img-area">
                                                    <img alt="image" class="max-un"
                                                        src="{% static 'assets1/images/user-2.png' %}" />
                                                </div>
                                                <div class="text-area">
                                                    <p class="mdr">
                                                        <b>
                                                            James Deed
                                                        </b>
                                                        requested a payment of
                                                        <b>
                                                            £890.00
                                                        </b>
                                                    </p>
                                                    <p class="mdr time-area">
                                                        08.09AM
                                                    </p>
                                                </div>
                                            </a>
                                            <i class="fa-solid fa-caret-right">
                                            </i>
                                        </li>
                                        <li>
                                            <a class="d-flex" href="javascript:void(0)">
                                                <div class="img-area">
                                                    <img alt="image" class="max-un"
                                                        src="{% static 'assets1/images/master-card.png' %}" />
                                                </div>
                                                <div class="text-area">
                                                    <p class="mdr">
                                                        Your new payment method has been added successfully
                                                    </p>
                                                    <p class="mdr time-area">
                                                        09.39AM
                                                    </p>
                                                </div>
                                            </a>
                                            <i class="fa-solid fa-caret-right">
                                            </i>
                                        </li>
                                        <li>
                                            <a class="d-flex" href="javascript:void(0)">
                                                <div class="img-area">
                                                    <img alt="image" class="max-un"
                                                        src="{% static 'assets1/images/user-3.png' %}" />
                                                </div>
                                                <div class="text-area">
                                                    <p class="mdr">
                                                        You received a payment of
                                                        <b>
                                                            $250.00
                                                        </b>
                                                        from George
                                                        Michael
                                                    </p>
                                                    <p class="mdr time-area">
                                                        Yesterday
                                                    </p>
                                                </div>
                                            </a>
                                            <i class="fa-solid fa-caret-right">
                                            </i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-item user-area">
                                <div class="profile-area d-flex align-items-center">
                                    <span class="user-profile">
                                        <img alt="User" src="{% static 'assets1/images/avatar.png' %}" />
                                    </span>
                                    <i class="fa-solid fa-sort-down">
                                    </i>
                                </div>
                                <div class="main-area user-content">
                                    <div class="head-area d-flex align-items-center">
                                        <div class="profile-img">
                                            <img alt="User" src="{% static 'assets1/images/avatar-2.png' %}" />
                                        </div>
                                        <div class="profile-head">
                                            <a href="javascript:void(0)">
                                                <h5>
                                                    Kevin Martin
                                                </h5>
                                            </a>
                                            <p class="wallet-id">
                                                Wallet ID: 6264849965
                                            </p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li class="border-area">
                                            <a href="/admin">
                                                <i class="fas fa-user">
                                                </i>
                                                Admin
                                            </a>
                                        </li>
                                        <li class="border-area">
                                            <a href="account.html">
                                                <i class="fas fa-cog">
                                                </i>
                                                Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fas fa-sign-out">
                                                </i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-wrapper">
                            <div class="close-btn">
                                <i class="fa-solid fa-xmark">
                                </i>
                            </div>
                            <div class="sidebar-logo">
                                <a href="dashboard.html">
                                    <img alt="logo" src="{% static 'assets1/images/logo.png' %}" />
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a href="dashboard.html">
                                        <img alt="Dashboard" src="{% static 'assets1/images/icon/dashboard.png' %}" />
                                        <span>
                                            Dashboard
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="transactions.html">
                                        <img alt="Transactions"
                                            src="{% static 'assets1/images/icon/transactions.png' %}" />
                                        <span>
                                            Transactions
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="pay.html">
                                        <img alt="Pay" src="{% static 'assets1/images/icon/pay.png' %}" />
                                        <span>
                                            Pay
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="receive-step-1.html">
                                        <img alt="Receive" src="{% static 'assets1/images/icon/receive.png' %}" />
                                        <span>
                                            Receive
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="money-exchange.html">
                                        <img alt="Exchange" src="{% static 'assets1/images/icon/exchange.png' %}" />
                                        <span>
                                            Exchange
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="recipients.html">
                                        <img alt="Recipients" src="{% static 'assets1/images/icon/recipients.png' %}" />
                                        <span>
                                            Recipients
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="crypto.html">
                                        <img alt="Crypto" src="{% static 'assets1/images/icon/crypto.png' %}" />
                                        <span>
                                            Crypto
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="deposit-money.html">
                                        <img alt="Deposit" src="{% static 'assets1/images/icon/deposit.png' %}" />
                                        <span>
                                            Deposit Money
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="withdraw-money-step-1.html">
                                        <img alt="Withdraw" src="{% static 'assets1/images/icon/withdraw.png' %}" />
                                        <span>
                                            Withdraw
                                            Money
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="bottom-item">
                                <li class="active">
                                    <a href="account.html">
                                        <img alt="Account" src="{% static 'assets1/images/icon/account.png' %}" />
                                        <span>
                                            Account
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img alt="Support" src="{% static 'assets1/images/icon/support.png' %}" />
                                        <span>
                                            Support
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img alt="Quit" src="{% static 'assets1/images/icon/quit.png' %}" />
                                        <span>
                                            Quit
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="pt-120">
                                <div class="invite-now">
                                    <div class="img-area">
                                        <img alt="Image" src="{% static 'assets1/images/invite-now-illus.png' %}" />
                                    </div>
                                    <p>
                                        Invite your friend and get $25
                                    </p>
                                    <a class="cmn-btn" href="javascript:void(0)">
                                        Invite Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- alert start -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <!-- <script>
              setTimeout(() => {
                  $(".alert").alert("close");
              }, 4000)
          </script> -->
        <!-- alert end -->

    </header>

    {%block content%}
    {%endblock content%}

    <script src="{% static 'assets1/js/jquery.min.js' %}">
    </script>
    <script src="{% static 'assets1/js/bootstrap.min.js' %}">
    </script>
    <script src="{% static 'assets1/js/jquery-ui.js' %}">
    </script>
    <script src="{% static 'assets1/js/plugin/apexcharts.js' %}">
    </script>
    <script src="{% static 'assets1/js/plugin/jquery.nice-select.min.js' %}">
    </script>
    <script src="{% static 'assets1/js/plugin/waypoint.min.js' %}">
    </script>
    <script src="{% static 'assets1/js/plugin/wow.min.js' %}">
    </script>
    <script src="{% static 'assets1/js/plugin/plugin.js' %}">
    </script>
    <script src="{% static 'assets1/js/main.js' %}">
    </script>
</body>

</html>